/* --- Universal Styling ------------------------------ */

h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
}
h2 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px 0;
}
h3 {
  height: 50px;
  line-height: 50px;
}
.button {
  background-color: #6c56ac;
  border-color: #6c56ac;
  color: #fff;
}
.button:hover {
  background-color: #4c3c7a;
  border-color: #4c3c7a;
  color: #fff;
}
.hide {
  display: none;
}

/* --- Header ----------------------------------------- */

header {
  background: linear-gradient(90deg, rgba(153,137,197,1) 0%, rgba(108,86,172,1) 35%, rgba(76,60,122,1) 100%);
  padding: 6px 0;
  text-align: center;
}

/* --- Search / Search History ------------------------ */

#cityList {
  text-transform: capitalize;
}
#cityList .list-group-item, 
#clearList .list-group-item {
  cursor: pointer;
}
#cityList .list-group-item:hover, 
#clearList .list-group-item:hover {
  background-color: #4c3c7a;
  border-color: #4c3c7a;
  color: #fff;
}
#cityList .active {
  background-color: #6c56ac;
  border-color: #6c56ac;
}
#clearList {
  margin: 20px 0;
}

/* --- Current Weather -------------------------------- */

#currentWeatherContainer {
  margin: 10px auto;
  padding: 0 15px;
  width: calc(100% - 30px);
}
#currentWeatherHeader {
  display: flex;
  flex-direction: row;
}
#icon img {
  height: 50px;
  width: 50px;
}
#humidity,
#windSpeed,
#uvIndex {
  margin: 12px 0 0 0;
}
#uvDisplay {
  border-radius: 10px;
  padding: 5px 10px;
}
.uv-low {
  background-color: #53b31f;
}
.uv-medium {
  background-color: #f7b52a;
}
.uv-high {
  background-color: #f65a1e;
}
.uv-veryHigh {
  background-color: #d62327;
}
.uv-extremelyHigh {
  background-color: #998ffc;
}

/* --- Media Queries ---------------------------------- */

@media screen and (max-width: 575px) {

}